/*
=====================
Body
=====================
*/

body {
  background: linear-gradient(135deg, #BBE6FF, #229DE5);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Roboto Slab';
}

/*
=====================
Title Banners
=====================
*/

.banner{
  font-family: 'Skranji';
  font-size: xx-large;
  text-decoration: underline;
  padding: 25px;
  text-align: center;
  color: #143DFF

}

/*
=====================
Tweets
=====================
*/

div {
  display: grid;
  grid-column-start: 2;
  grid-column-end: 3;
  text-align: center;
  margin: 0 25% 2.5% 25%;
  padding: 25px;
  border: solid;
  border-radius: 30px;
}

div {
  background: #EDE9E0;
  background-clip: padding-box;
}

/*
=====================
Refresh Button
=====================
*/

h2 {
  display: grid;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-template-columns: 25% 50% 25%;
}

/*
=====================
Refresh Button
=====================
*/

.refresh {
  background-color: #3F7FDE;
  outline: none;
  font-size: 150%;
}

button {
  grid-column-start: 2;
  grid-column-end: 3;
  text-align: center;
  margin: 25px 25px 25px 25px;
  padding: 25px;
  border: solid;
  border-radius: 30px;
  margin: ;
}

button:hover {
	background-color: #11DE23;
}